.h-screen {
  height: 100vh;
}
.slider {
  height: 1rem;
  width: 100%;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 9999px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: -2;
}
.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  background: rgba(128, 128, 128);
  border-radius: 9999px;
  z-index: 0;
}
@keyframes example {
  0% {
    width: 0;
    border-radius: 0;
  }
  75% {
    border-radius: 100px;
  }
  100% {
    width: 33%;
  }
}
.quarter-blue {
  animation: example 1s ease-in-out 0s 1 normal none;
  background-color: #0d6efd;
  border-radius: 9999px;
  width: 33%;
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -1;
}

@keyframes blueball {
  0% {
    background-color: rgba(128, 128, 128);
    color: black;
  }
  100% {
    background-color: #0d6efd;
    color: white;
  }
}
.blue-ball {
  animation: blueball 1s ease-in-out 1s 1 normal forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  background-color: rgba(128, 128, 128);
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9999px;
  z-index: 0;
}
@keyframes half {
  from {
    width: 33%;
  }
  to {
    width: 70%;
  }
}

.half-blue {
  animation: half 1s ease-in-out 0s 1 normal none;
  background-color: #0d6efd;
  border-radius: 9999px;
  width: 70%;
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -1;
}
@keyframes full {
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}

.full-blue {
  animation: full 1s ease-in-out 0s 1 normal none;
  background-color: #0d6efd;
  border-radius: 9999px;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -1;
}
.ball-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  background-color: #0d6efd;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9999px;
  z-index: 0;
}
.add-task {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  font-size: 50px;
}
.react-calendar__tile {
  border-radius: 99px;
  height: 3.1rem;
}
.react-calendar__tile--now {
  background: lightcoral !important;
}
.react-calendar__tile--active {
  background-color: lightblue !important;

  color: black !important;
}
.calendar-container {
  background: rgb(138, 179, 255) !important;
  z-index: 0;
  padding-bottom: 15px;
}
.main-container {
  position: relative;
  bottom: 25px;
}
.hider {
  padding-bottom: 0;
  height: 0;
}
.cursor-pointer :hover {
  cursor: pointer;
}
